/* Branch Selection */
.CategoryText, .SelectorText{
padding-top:35%;
font-size:18.5px;
font-weight: bold;
color:rgba(0,0,0,0.8);
}

.SelectorText, .CategoryText{
pointer-events: none;
}


.Category{
display: block;
height:100px;
width:119px;
position:relative;
background-color: rgba(81,184,72,0.9);
border:1px solid black;
text-decoration:none;
text-align:center;
float:left;
}

#CategoryMenu  {
display: block;
height:200px;
width:955px;
position:Absolute;
margin-left:50%;
margin-top:50%;
-webkit-transform:translateX(-50%) translateY(-50%);
background-color:rgba(0,0,0,0.1);
text-decoration:none;
text-align:center;
z-index: 1000;
}

.Subcategory{
display: block;
height:100px;
width:119px;
position:relative;
background-color: rgba(184, 72, 81,0.9);
border:1px solid black;
text-decoration:none;
text-align:center;
float:left;
}

#SubcategoryMenu  {
display: block;
height:100px;
width:955px;
position:relative;
margin-top:100px;
background-color:rgba(0,0,0,0.1);
text-decoration:none;
text-align:center;
z-index: 1000;
}























.MainCircle{
display:block;
height:200px;
width:200px;
border:1px solid red;
border-radius:50%;
position: absolute;
top:50%;
left:50%;
-webkit-transform: translateX(-50%) translatey(-50%);
/*background-image: url("../rangers.jpg");*/
}

a.MainCircleNews  {
display: block;
height:100px;
width:100px;
border-top-left-radius:100%;
position:absolute;
top:45%;
left:45%;
-webkit-transform:translateX(-50%) translatey(-50%);
background-color: #51B848;
border-bottom:1px solid #C8C8C8;
border-right:1px solid #C8C8C8;
text-decoration:none;
text-align:center;
}

.NewsText{
padding-top:45%;
color:rgba(0,0,0,0.8);
text-decoration:none;
font-size:20px;
-webkit-transform: translateX(8%);
}

a.MainCircleVid {
display: block;
height:100px;
width:100px;
border-top-right-radius:100%;
position:absolute;
top:45%;
left:55.4%;
-webkit-transform:translateX(-50%) translatey(-50%);
background-color: #51B848;
border-bottom:1px solid #C8C8C8;
border-left:1px solid #C8C8C8;
text-decoration:none;
text-align:center;
}



a.MainCircleTwitch {
display: block;
height:100px;
width:100px;
border-bottom-left-radius:100%;
position:absolute;
top:55%;
left:45%;
-webkit-transform:translateX(-50%) translatey(-50%);
background-color: #51B848;
border-top:1px solid #C8C8C8;
border-right:1px solid #C8C8C8;
text-decoration:none;
text-align:center;
}

.StreamText{
padding-top:30%;
color:rgba(0,0,0,0.8);
text-decoration:none;
font-size:20px;
-webkit-transform: translateX(4%);
}

a.MainCircleSport {
display: block;
height:100px;
width:100px;
border-bottom-right-radius:100%;
position:absolute;
top:55%;
left:55.4%;
-webkit-transform:translateX(-50%) translatey(-50%);
background-color: #51B848;
border-top:1px solid #C8C8C8;
border-left:1px solid #C8C8C8;
text-decoration:none;
text-align:center;
}

.SportText{
padding-top:30%;
color:rgba(0,0,0,0.8);
text-decoration:none;
font-size:20px;
-webkit-transform: translateX(-8%);
}

.zoom:hover { 
    zoom: 1.2;
 }
 
.ap {
color:rgba(0,0,0,0.8);
-webkit-transform: translateX(15%);
position: relative;
top: 40%;
font-size: 15px;
left: -10px;
}

.TierOneCircle {
position: absolute;
display:block;
background-position: center;
background-repeat:no-repeat;
-webkit-transform: translateX(-50%) translatey(-50%);
border-radius:50%;
background-size: cover;
z-index: 1;
width: 150px;
height: 150px;
}

.TierOneCircle:hover +.TierOneHeader {
opacity: 1;
margin-top: 30px;
}

.TierOneHeader {
position: absolute;
z-index: 2;
height: 50px;
width: 285px;
border-radius: 50px;
background: rgba(255,255,255,0.9);
opacity: 0;
transition: all ease-in-out 0.4s;
pointer-events: none;
-webkit-transform: translateX(-50%) translatey(-100%);
overflow:hidden;
}

.TierOneHeader h2{
text-align: center;
color:rgba(0,0,0,0.8);
padding:5px;
margin:0px;
font-size:20px;
line-height:22px;
}

.TierTwoHeader h3 {
text-align: center;
color:rgba(0,0,0,0.8);
padding:5px;
margin:0px;
font-size:17.5px;
line-height:22px;
}

#TierOneHeaderOne{
text-align:center;
color:rgba(0,0,0,0.8);
top:30%;
left:30%;
}

.TierOneCircleOne{
top:30%;
left:30%;
background-color:#990000;
border:1px solid #990000;
}

#TierOneHeaderTwo{
text-align:center;
color:rgba(0,0,0,0.8);
top:30%;
left:70%;
}

.TierOneCircleTwo{
top:30%;
left:70%;
border:1px solid #000000;
background-color:#000000;
}

#TierOneHeaderFour{
text-align:center;
color:rgba(0,0,0,0.8);
top:70%;
left:30%;
}

.TierOneCircleFour{
top:70%;
left:30%;
border:1px solid #5EA9DD;
background-color:#5EA9DD;
}

#TierOneHeaderThree{
text-align:center;
color:rgba(0,0,0,0.8);
top:70%;
left:70%;
}

.TierOneCircleThree{
top:70%;
left:70%;
border:1px solid #2b3a76;
background-color:#2b3a76;
}


.TertieryHeader{
color:red;
font-size:100px;
}

.TierTwoCircle{
display:block;
height:100px;
width:100px;
-webkit-transform: translateX(-50%) translatey(-50%);
border-radius:50%;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
position: absolute;
}

.TierTwoCircle:hover +.TierTwoHeader {
opacity: 1;
margin-top: 30px;
}

.TierTwoHeader {
position: absolute;
z-index: 2;
height: 50px;
width: 235px;
border-radius: 50px;
background: rgba(255,255,255,0.9);
opacity: 0;
transition: all ease-in-out 0.4s;
pointer-events: none;
-webkit-transform: translateX(-50%) translatey(-100%);
overflow:hidden;
}

#TierTwoHeaderOne{
text-align:center;
color:rgba(0,0,0,0.8);
top:15%;
left:15%;
}

.TierTwoCircleOne{
top:15%;
left:15%;
border:1px solid #990000;
background-color:#990000;
}

#TierTwoHeaderTwo{
text-align:center;
color:rgba(0,0,0,0.8);
top:30%;
left:10%;
}

.TierTwoCircleTwo{
top:30%;
left:10%;
border:1px solid #990000;
background-color:#990000;
}

#TierTwoHeaderThree{
text-align:center;
color:rgba(0,0,0,0.8);
top:10%;
left:30%;
}

.TierTwoCircleThree{
top:10%;
left:30%;
border:1px solid #990000;
background-color:#990000;
}

#TierTwoHeaderFour{
text-align:center;
color:rgba(0,0,0,0.8);
top:15%;
left:85%;
}

.TierTwoCircleFour{
top:15%;
left:85%;
border:1px solid #000000;
background-color:#000000;
}

#TierTwoHeaderFive{
text-align:center;
color:rgba(0,0,0,0.8);
top:10%;
left:70%;
}

.TierTwoCircleFive{
top:10%;
left:70%;
border:1px solid #000000;
background-color:#000000;
}

#TierTwoHeaderSix{
text-align:center;
color:rgba(0,0,0,0.8);
top:30%;
left:90%;
}

.TierTwoCircleSix{
top:30%;
left:90%;
border:1px solid #000000;
background-color:#000000;
}

#TierTwoHeaderSeven{
top:70%;
left:90%;
text-align:center;
color:rgba(0,0,0,0.8);
}

.TierTwoCircleSeven{
top:70%;
left:90%;
border:1px solid #2b3a76;
background-color:#2b3a76;
}

#TierTwoHeaderEight{
top:85%;
left:85%;
text-align:center;
color:rgba(0,0,0,0.8);
}

.TierTwoCircleEight{
top:85%;
left:85%;
border:1px solid #2b3a76;
background-color:#2b3a76;
}

#TierTwoHeaderNine{
top:90%;
left:70%;
text-align:center;
color:rgba(0,0,0,0.8);
}

.TierTwoCircleNine{
top:90%;
left:70%;
border:1px solid #2b3a76;
background-color:#2b3a76;
}

#TierTwoHeaderTen{
text-align:center;
color:rgba(0,0,0,0.8);
top:70%;
left:10%;
}

.TierTwoCircleTen{
top:70%;
left:10%;
border:1px solid ##5EA9DD;
background-color:#5EA9DD;
}

#TierTwoHeaderEleven{
top:90%;
left:30%;
text-align:center;
color:rgba(0,0,0,0.8);
}

.TierTwoCircleEleven{
top:90%;
left:30%;
border:1px solid ##5EA9DD;
background-color:#5EA9DD;
}

#TierTwoHeaderTwelve{
top:85%;
left:15%;
text-align:center;
color:rgba(0,0,0,0.8);
}

.TierTwoCircleTwelve{
top:85%;
left:15%;
border:1px solid ##5EA9DD;
background-color:#5EA9DD;
}